<div class="container">

	<!-- Shows combined music -->
	<div id="lobbyCombined">
		<img class="img-responsive center-block" src="http://placehold.it/600x200">
	</div>

	id:{{ id }} pop: {{ pop }}

	<!-- No Flavor -->
	<div ng-show="!flavor">
		<h2 class="text-center">Choose a Flavor</h2>
		<div id="lobbyFlavors" class="row">
			<div class="col-md-4">
				<h3 class="text-center">Kick</h3>
				<img class="img-responsive center-block" src="http://placehold.it/300x200" ng-click="chooseFlavor('kick')">
			</div>
		</div>
	</div>

	<div ng-show="flavor">
		<h2 class="text-center">{{ flavor }}</h2>

		<div id="lobbyButtons" class="row">
			<div class="col-sm-1">
				<!-- placeholder -->
			</div>
			<div class="col-sm-2">
				<img class="img-responsive center-block" src="http://placehold.it/100x100" ng-click="sendTune(1)">
			</div>
			<div class="col-sm-2">
				<img class="img-responsive center-block" src="http://placehold.it/100x100" ng-click="sendTune(2)">
			</div>
			<div class="col-sm-2">
				<img class="img-responsive center-block" src="http://placehold.it/100x100" ng-click="sendTune(3)">
			</div>
			<div class="col-sm-2">
				<img class="img-responsive center-block" src="http://placehold.it/100x100" ng-click="sendTune(4)">
			</div>
			<div class="col-sm-1">
				<!-- placeholder -->
			</div>

		</div>
	</div>



</div>